@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f1f5f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  -webkit-user-select: none;
  user-select: none;
}

input,
textarea,
button {
  -webkit-user-select: text;
  user-select: text;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  padding-bottom: 64px; /* Space for bottom nav */
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
}

body {
  overflow-y: auto;
  padding-top: 64px;
}
